<div *ngIf="isLoading" style="text-align: center;">
    <app-spinner></app-spinner>
</div>
<hr>
<!--Grid row-->
<div class="form-group has-feedback has-search" style="width: 40%;">
    <span class="glyphicon glyphicon-search form-control-feedback "></span>
    <input [(ngModel)]="filteredStatus" type="text" class="form-control" placeholder="Search">
  </div>
<!--Grid row-->

<!-- Old Search Field -->
<!-- <label for="">Search for: </label>
<input type="text" [(ngModel)]="filteredStatus"> -->
<hr>
<div class="row">
    <div style="width: 80%;">
        <app-blog-item *ngFor="let blogElement of blogs | filter: filteredStatus:'name'" [blog]="blogElement">
        </app-blog-item>
    </div>
</div>