<div *ngIf="isLoading" style="text-align: center; ">
    <app-spinner></app-spinner>
</div>
<hr>
<!--Grid row-->
<div class="form-group has-feedback has-search" style="width: 40%;">
    <span class="glyphicon glyphicon-search form-control-feedback "></span>
    <input [(ngModel)]="filteredStatus" type="text" class="form-control" placeholder="Search">
  </div>
  
<!--Grid row-->

<!-- Old Search Field -->
<!-- <label for="">Search for: </label>
<input type="text" [(ngModel)]="filteredStatus"> -->
<hr>
<!-- Without Sorting View -->
<div class="row" *ngIf="!trending && !newest" >
    <div style="width: 80%;">
        <app-blog-item *ngFor="let blogElement of blogs | filter: filteredStatus:'name'  " [blog]="blogElement"> 
        </app-blog-item>
    </div>
</div>

<!-- Newest View (newest blogs by date) -->

<div class="row" *ngIf='newest && !trending'>
    <div style="width: 80%;">
        <app-blog-item *ngFor="let blogElement of blogs | sortDate: limit | filter: filteredStatus:'name' " [blog]="blogElement"> 
        </app-blog-item>
    </div>
</div>

<!-- Trending View (trending blogs by number of comments) -->

<div class="row" *ngIf='trending && !newest'>
    <div style="width: 80%;">
        <app-blog-item *ngFor="let blogElement of blogs | trendingPipe: limitTrending  | filter: filteredStatus:'name' " [blog]="blogElement"> 
        </app-blog-item>
    </div>
</div>