input.ng-invalid.ng-touched{
    border: 1px solid red;

}

.has-envelope .form-control-feedback {
    right: initial;
    left: 0;
    color: #ccc;
}

.has-envelope .form-control {
    padding-right: 12px;
    padding-left: 34px;
}

.has-wrench .form-control {
    padding-right: 12px;
    padding-left: 34px;
}